.taxonomies-wrapper {
  margin-bottom: 2em;
}

.taxonomies {
  list-style: none;
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  font-weight: bold;

  .taxonomy {
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
    border: 1.5px solid #b7cce7;
    border-radius: 0.5em;
    margin-bottom: 1em;
    color: var(--body-color);

    &:focus,
    &:hover {
      background-color: #b7cce7;
      text-decoration: none;
    }
  }
}

.post-list-by-taxonomy {
  time {
    font-family: monospace;
  }
}

@media (min-width: $sm-screen) {
  .taxonomies {
    grid-template-columns: repeat(3, 1fr);
  }
}
