@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.content {
  padding: 4em 1em;
}

.main {
  font-family: 'Noto Sans KR', sans-serif;
}

@media (min-width: $md-screen) {
  .content {
    padding: 4em 4em;
  }
}
