@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url(http://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/d2coding.css);
$sm-screen: 35.5rem;
$md-screen: 48rem;
$lg-screen: 64rem;
$xl-screen: 80rem;

:root {
  --body-font-size: 14px;
  --body-line-height: 1.6;
  --body-color: var(--oc-gray-8);
  --body-color-light: var(--oc-gray-3);
  --body-bg: var(--oc-gray-3);
  --link-color: var(--oc-blue-9);
  --heading-color: var(--oc-black);

  --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --brand-title-font: "D2 coding", "Consolas", monospace;
  --heading-font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --code-font: "D2 coding", "Consolas", monospace;

  --sidebar-color: var(--oc-gray-4);

  --message-color: var(--oc-black);
  --message-bg: var(--oc-yellow-2);

  --border-radius: 0.5em;
  --border-color: var(--oc-gray-3);

  --code-bg: #aac4d1;
}

@media (prefers-color-scheme: light) {
  :root {
    --body-color: #f0f0f0;
    --body-color-light: var(--oc-gray-6);
    --body-bg: #2b2b2b;
    --link-color: var(--oc-blue-4);
    --heading-color: var(--oc-white);

    --message-color: var(--oc-gray-9);
    --message-bg: var(--oc-yellow-2);

    --border-color: #414141;

    --code-bg: #5e7c8b;
  }
}
